[submodule "sw/lib/Chimera"]
	path = sw/lib/Chimera
	url = git@github.com:brandonbraun653/Chimera.git
[submodule "sw/lib/Drivers/FlashMemory"]
	path = sw/lib/Drivers/FlashMemory
	url = git@github.com:brandonbraun653/FlashMemory.git
[submodule "sw/lib/Processor/Thor"]
	path = sw/lib/Processor/Thor
	url = git@github.com:brandonbraun653/Thor.git
[submodule "sw/lib/Modules/reliance-edge"]
	path = sw/lib/Modules/reliance-edge
	url = git@github.com:brandonbraun653/reliance-edge.git
[submodule "sw/lib/FreeRTOS"]
	path = sw/lib/FreeRTOS
	url = git@github.com:brandonbraun653/FreeRTOS.git
[submodule "sw/lib/Processor/stm32hal_f4"]
	path = sw/lib/Processor/stm32hal_f4
	url = git@github.com:brandonbraun653/STM32HAL_F4.git
[submodule "sw/lib/AeroKernel"]
	path = sw/lib/AeroKernel
	url = https://github.com/brandonbraun653/AeroKernel.git
[submodule "sw/lib/sparsepp"]
	path = sw/lib/sparsepp
	url = https://github.com/brandonbraun653/sparsepp.git
