[submodule "AeroFC/lib/AeroKernel"]
	path = AeroFC/lib/AeroKernel
	url = https://github.com/brandonbraun653/AeroKernel.git
[submodule "AeroFC/lib/CommonTools"]
	path = AeroFC/lib/CommonTools
	url = https://github.com/brandonbraun653/CommonTools.git
